@use '../../../styles/variables' as *;

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $spacing-xl;
}

.spinnerCircle {
    border: 3px solid $border-color-light;
    border-top: 3px solid $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner.small .spinnerCircle {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.spinner.medium .spinnerCircle {
    width: 40px;
    height: 40px;
    border-width: 3px;
}

.spinner.large .spinnerCircle {
    width: 60px;
    height: 60px;
    border-width: 4px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

