@use '../../../styles/variables' as *;

.chartContainer {
    padding: $spacing-md;
    padding-left: $spacing-sm;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: $text-color;
    margin: 0 0 $spacing-lg 0;
}

@media (max-width: $breakpoint-mobile) {
    .chartContainer {
        padding: $spacing-sm;
        padding-left: $spacing-xs;
    }

    .title {
        font-size: 16px;
        margin: 0 0 $spacing-md 0;
    }
}

