@use '../../../styles/variables' as *;

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    cursor: pointer;
    font-size: 14px;
    user-select: none;

    &:hover {
        color: $primary-color;
    }
}

.checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: $primary-color;
}

